body {
    width: 60em;
    margin: 0 auto;
}
h1{
    text-align: center;
}
.datosLibro,.descLibro{
    float: left;
    margin: 0;
    padding: 0;
    
}
.datosLibro{
    width: 16em;
}
.descLibro{
    width: 44em;
}
.texto li{
    float: left;
    width: 33%;
    
}
.texto{
    list-style: none;
    padding: 0;
}